:root {
  // Colors
  --primary-white-color: #fff;
  --secondary-white-color: #f0f0f0;

  --primary-black-color: #1a1423;
  --secondary-black-color: #1b1a1a;

  --primary-gray-color: #f2f2f5;
  --secondary-gray-color: #adadad;

  --primary-blue-color: #00008c;
  --secondary-blue-color: #0083ce;

  --black-background: #000814;

  // Fonts
  --regular-font: "Poppins", sans-serif;
}
