/* Fonts */
h1 {
  font-size: 4rem;
  letter-spacing: 0.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 100;
}

p {
  font-size: 1.4rem;
}

em {
  // bold
  font-weight: bold;
}
